* {
  margin: 0px;
  padding: 0px; }

/* PROPIEDADES DEL INDEX */
.margenSuperior {
  background-color: #e9ecef;
  margin-top: 0px;
  width: 100%;
  height: 25px; }

#menu {
  padding-top: 0px;
  padding-bottom: 0px; }
  #menu ul {
    margin-bottom: 0rem; }
    #menu ul li {
      display: inline; }
      #menu ul li a {
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        text-decoration: none;
        padding: 10px;
        color: black; }

#menu ul a :hover {
  /* lo que hace cuando te paras arriba del cursor*/
  animation-duration: 2s;
  animation-name: pintar;
  background-color: #d3ffcf;
  /* REVISARR */
  border-radius: 10px; }

@keyframes pintar {
  0% {
    background-color: white; }
  100% {
    background-color: #d3ffcf; } }

.textoOfertas {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  margin-top: 25px;
  margin-bottom: 25px; }

.textoTachado {
  text-decoration: line-through;
  text-align: center;
  color: #ff6473;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 30px; }

.textoTachado2 {
  text-align: center;
  color: #ff6473;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 30px; }

.botonPromo {
  text-align: left;
  background-color: white;
  color: blue;
  border-color: blue; }

.centrarBoton {
  text-align: center; }

.margenInferior {
  margin-top: 100px;
  background-color: #e9ecef;
  width: 100%;
  height: 100%; }

.letraMargen {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  margin-top: 13px; }

.letraMargenDos {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  margin-top: 13px; }

.copyright {
  text-align: center; }

.separacion {
  margin-right: 7px;
  margin-left: 7px;
  max-height: auto; }

@media screen and (max-width: 768px) {
  .imagenResponsive {
    max-width: 50%;
    margin-left: 100px;
    margin-top: 30px; } }

@media screen and (max-width: 768px) {
  .textoResponsive {
    max-width: 40%;
    text-align: center; } }

/*  TIENDA DE PLANTAS DE INTERIOR	*/
.imagenTarjetaCac {
  width: 85%; }

.imagenTarjetaInt {
  width: 60%; }

.centrarTexto {
  text-align: center; }

.pruebaPrecio {
  text-align: center;
  color: #ff6473;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 20px; }

.pruebaBoton {
  text-align: center;
  background-color: white;
  color: blue;
  border-color: blue; }

.pruebaBoton:hover {
  color: white;
  background-color: blue; }

.card {
  border: 0px; }

/* QUIENES SOMOS */
.tituloQuienes {
  color: #e9ecef;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  margin-top: 0px;
  margin-left: 60px;
  animation-duration: 2s;
  animation-name: tituloQuienes;
  width: 300px; }

@keyframes tituloQuienes {
  0% {
    margin-left: 2000px; }
  100% {
    margin-left: 60px; } }

#textoQuienesSomos {
  font-size: 130%;
  margin-top: 25px;
  margin-left: 0px;
  font-family: "Quicksand", sans-serif;
  animation-duration: 2s;
  animation-name: textoQuienes;
  max-width: 100%;
  height: 90%; }

@keyframes textoQuienes {
  0% {
    margin-top: 2000px; }
  100% {
    margin-top: 25px; } }

/* CONTACTO */
.textoContactoDos {
  font-size: 150%;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  margin-top: 20px; }

/* MEDIA QUERY PARA ACHICAR LA LETRA DE TEXTOCONTACTODOS */
@media screen and (max-width: 500px) {
  .textoContactoDos {
    font-size: 100%; } }

.form-control {
  background-color: #e9ecef;
  text-align: center; }

.form-group {
  font-family: "Quicksand", sans-serif;
  width: 50%;
  text-align: center; }

.pruebaBotonDos {
  background-color: white;
  color: blue;
  border-color: blue; }

.pruebaBotonDos:hover {
  color: white;
  background-color: blue; }
